.contact_section {
  padding-top: 100px;
  flex-direction: row;
}

.contact_section .form {
  width: 100%;
  padding: 0px 100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact_section .form .button {
  width: 200px;
  height: 25px;
  text-align: center;
}

.contact_section .form .form_textfields {
  display: flex;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 999px) {
  .contact_section {
    flex-direction: column-reverse;
  }

  .contact_section .form {
    width: 80%;
    padding: unset;
  }

  .contact_title {
    margin-bottom: 30px;
  }

  .contact_content {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .contact_section .form .form_textfields {
    flex-direction: column;
  }
}